<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
<!-- Timeline -->
    <div id="timeline"></div>
    <div class="wrap">
<!-- JavaScript -->
 
    <script src="{{ '/timeline/compiled/js/timeline.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    <script>
        var additionalOptions = {
          hash_bookmark: true,
          timenav_mobile_height_percentage: 30,
          scale_factor: 2,
          trackResize: true,
          dragging: true,
          debug: true
        }
        var timeline = new TL.Timeline('timeline', '{{ "/timeline3.json" | prepend: site.baseurl | prepend: site.url  }}', additionalOptions);
        window.onresize = function(event) {
          timeline.updateDisplay();
    }
    </script>

  </body>

</html>
